name: tests

on: 
  - push

jobs:
  ruby-unit-tests:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v1
    - name: Setup Ruby
      uses: actions/setup-ruby@v1
    - name: Run all acceptance tests
      working-directory: ./bin/server
      run: |
        bundle install
        rake test

  js-unit-tests:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v1
    - name: Run all unit tests
      working-directory: ./bin/frontend
      run: |
        npm install
        npm run test:unit

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Lint Code Base
        uses: github/super-linter@v3.13.5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          RUBY_CONFIG_FILE: .rubocop.yml
          VALIDATE_RUBY: false
          VALIDATE_MARKDOWN: false
          VALIDATE_JAVASCRIPT_STANDARD: false
          VALIDATE_HTML: false
          VALIDATE_TYPESCRIPT_STANDARD: false